streamlit
streamlit-webrtc
openai
gtts
numpy
av
SpeechRecognition
pydub
ffmpeg-python
pydantic>=2.7.4,<3.0.0
langchain>=0.0.305
langchain-openai
langchain-text-splitters
langchainplus-sdk
langsmith
